
header{
    background: #223047;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1px;
    img{
        cursor: pointer;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        display: flex;
        li{
            padding: 2px 10px;
            border-radius: 7px;
            &:hover{
                cursor: pointer;
                background-color: #00fff0;
                color: #223047;
                transition: 0.5s;
            }
        }
    }
}
/*first section*/
.first_section{
    background: #223047;
    padding-top: 190px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    h2{
        font-size: 39px;
        font-family: dosis;
        margin-bottom: 60px;
        color: #ffffff;
    }
    p{
        font-size: 13px;
        font-family: dosis;
        color: #97a4be;
        line-height:28px;
        margin-bottom: 60px;
    }
    .frs_sec{
        display: flex;
        a{
            text-decoration: none;
        }
        .frs_sec_button{
            text-align: center;
            padding: 10px 0;
            margin-right: 10px;
            color: #ffffff;
            border: #ffffff solid 1px; 
            border-radius: 7px;
            width: 200px;
            color: #ffffff;
           &:hover{
                background-color: #00fff0;
                transition: 0.5s;
                border: none;
                color: #223047;
            }
        }
    }
    .frs_sec_phone{
        position: absolute;
        right: 30%;
        top:-70px;
    }
    
}
/*twice section*/
.twice_section{
    color: #223047;
    font-family: Dosis;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    &::before{
        content: "";
        width: 90px;
        height: 3px;
        background: #00fff0;
        position: absolute;   
        bottom: 20%;  
        left: 46%;   
    }
}
/*Thrice section*/
.thrice_section{
    padding: 100px 0;
    .column_3{
        text-align:center;
        margin-right: 20px;
        width: 23%;
        box-shadow: 1px 1.73px 5px rgba(219, 208, 208, 0.1);
        img{
            margin-top: 40px;
        }
        .thr_sec_head{
            color: #223047;
            font-size: 17px;
            line-height: 50px;
            font-family: Dosis;
            margin: 10px 0;
        }
        .thr_sec_pharagraph{
            font-family: Dosis;
            font-size: 14px;
            color: #97a4be;
            line-height: 29px;
            margin-bottom: 30px;
        }
    }
}
/*Four section*/
.four_section{
    .empty_side{
        background: #223047;
        height: 400px;
    }
}