
header{
    background: #223047;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1px;
    img{
        cursor: pointer;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        display: flex;
        li{
            padding: 2px 10px;
            border-radius: 7px;
            &:hover{
                cursor: pointer;
                background-color: #00fff0;
                color: #223047;
                transition: 0.5s;
            }
        }
    }
}
/*first section*/
.first_section{
    background: #223047;
    padding-top: 190px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    h2{
        font-size: 39px;
        font-family: dosis;
        margin-bottom: 60px;
        color: #ffffff;
    }
    p{
        font-size: 13px;
        font-family: dosis;
        color: #97a4be;
        line-height:28px;
        margin-bottom: 60px;
    }
    .frs_sec{
        display: flex;
        a{
            text-decoration: none;
        }
        .frs_sec_button{
            text-align: center;
            padding: 10px 0;
            margin-right: 10px;
            color: #ffffff;
            border: #ffffff solid 1px; 
            border-radius: 7px;
            width: 200px;
            color: #ffffff;
           &:hover{
                background-color: #00fff0;
                transition: 0.5s;
                border: none;
                color: #223047;
            }
        }
    }
    .frs_sec_phone{
        position: absolute;
        right: 30%;
        top:-70px;
    }
    
}
/*twice section*/
.twice_section{
    color: #223047;
    font-family: Dosis;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    &::before{
        content: "";
        width: 90px;
        height: 3px;
        background: #00fff0;
        position: absolute;   
        bottom: 20%;  
        left: 46%;   
    }
}
/*Thrice section*/
.thrice_section{
    padding: 100px 0;
    margin-left: 10%;
    .column_4{
        text-align:center;
        margin-right: 0px;
        max-width: 20%;
        box-shadow: 1px 1.73px 5px rgba(219, 208, 208, 0.1);
        img{
            margin-top: 40px;
        }
        .thr_sec_head{
            color: #223047;
            font-size: 17px;
            line-height: 50px;
            font-family: Dosis;
            margin: 10px 0;
        }
        .thr_sec_pharagraph{
            font-family: Dosis;
            font-size: 14px;
            color: #97a4be;
            line-height: 29px;
            margin-bottom: 30px;
        }
    }
    .column_3{
        text-align:center;
        margin-right: 20px;
        max-width: 20%;
        box-shadow: 1px 1.73px 5px rgba(219, 208, 208, 0.1);
        img{
            margin-top: 40px;
        }
        .thr_sec_head{
            color: #223047;
            font-size: 17px;
            line-height: 50px;
            font-family: Dosis;
            margin: 10px 0;
        }
        .thr_sec_pharagraph{
            font-family: Dosis;
            font-size: 14px;
            color: #97a4be;
            line-height: 29px;
            margin-bottom: 30px;
        }
    }
}
/*Four section*/
.four_section{
    .empty_side{
        background: #223047;
        height: 500px;
    }
    .full_side{
        background: #f5f6fa;
        padding: 8%;
        height: 500px;
            h3{
                font-size: 30px;
                line-height: 40px;
                color: #223047;
                font-family: Dosis;
                padding-bottom: 20px;
            }
            p{
                font-size: 14px;
                line-height: 29px;
                font-family: Dosis;
            }
    }
}
/*Six section*/
.six_section{
    height: 500px;
    .six_section_pharagraph{
        text-align: right;
        padding: 100px 0 100px 100px;
        h3{
            font-size: 30px;
            font-family: Dosis;
            line-height: 40px;
            color: #223047;
            padding-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-family: Dosis;
            line-height: 29px;
            color: #97a4be;
            padding-bottom: 30px;
        }
        div{
            color: #223047;
            font-size: 17px;
            padding: 10px 20px;
            float: right;
            text-align: center;
            border: #223047 solid 1px;
            border-radius: 8px;
            width:250px;
            
            &:hover{
                background: #00fff0;
                border: #00fff0;
                border-radius: 8px;
                transition: 0.8s;
                opacity: 0.8;
            }   
        }
    }
    .six_section_img{
        padding: 100px 100px 100px 0;
    }
}

/*seven section*/

.seven_section{
    height: 560px;

    .seven_section_img{
       img{
           float: right;
       }
    }
    .seven_section_explain{
        padding: 50px ;
        .seven_section_div{
            font-size: 17px;
            font-family: "Myriad Pro";
            color: #223047;
            padding: 10px 20px;
            box-shadow:2px 2px 5px rgba(219, 208, 208, 0.1); 
            margin-bottom: 30px;
            p{
                display: none;
                font-size: Myriad Pro;
                font-size: 14px;
                color: #223047;
                line-height: 15px;
            }
            &:hover{
                background: #00fff0;
                transition: 2s;
                border-radius: 8px;
                cursor: pointer;
                p{
                    display: inline;
                    transition: 5.2s;
                }
            }
            i{
                padding-right: 30px;
                color: #223047;
                font-size: 20px;
            }
        }
    }
}
/*eight section*/
.eight_section{
    position: relative;
    background: #f5f6fa;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 500px;
    .eight_section_text{
        h3{
            text-align: right;
            font-family: Dosis;
            font-size: 30px;
            line-height: 40px;
            color: #000000;
       }
       ul{
           list-style-type: none;
           float: right;
           li{
               font-size: 17px;
               line-height: 50px;
               font-family: Dosis;
               i{
                   margin-right: 10px;
                   background: #00fff0;
                   color: #000000;
                   border-radius: 50%;
                   border: #00fff0;
               }

           }
       }
       p{
            float: right;
            text-align: right;
            font-size: 14px;
            line-height: 29px;
            font-family: Dosis;
            color: #97a4be;
            
       }
    } 
    .eight_section_blocks{
        width: 500px;
        height: 300px;
        background-color: #ffffff;
        box-shadow: 3px 3px 3px rgba(219, 208, 208, 0.1);
        position: absolute;
        top: 59px;
        left: 0;
    }
    .eight_section_blocks_1{
        width: 260px;
        height: 400px;
        position: absolute;
        top: -40px;
        left: 120px;
        z-index: 1;
        background: #000000;
    }
}
/*player section*/
.player_section{
    font-family: Dosis;
    background: #223047;
    padding: 150px 0;
    .player_section_pharagraph{
        text-align: center;
        div{  
            padding-top: 50px;
            &:hover{
                cursor: pointer;
            }
                     
            i{
                font-size: 30px;
                text-align: center;
                padding: 20px;
                border-radius: 50%;
                background: #00fff0;
            }
        }
        h4{
            font-size: 17px;
            line-height: 40px;
            color: #ffffff;
        }
        p{
            width: 60%;
            margin-left: auto;
            margin-right: auto; 
            font-size: 14px;
            line-height: 29px;
            color: #ffffff;
        }
        
    }
}
/*download section*/
.download_section{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
    background: url('../image/Map.png');
    background-size: contain 60%; 
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: Dosis;
    color: #223047;
    .download_section_text{
        h3{
            padding-top: 30px;
            font-size: 30px;
            line-height: 50px;
            
        }
        p{
            font-size: 17px;
            line-height: 29px;
            padding-bottom: 30px;
        }
        div{
            width: 150px;
            padding: 10px 30px;
            border-radius: 8px;
            background: #00fff0;
            font-size: 17px;
            font-family: Myriad Pro;
            line-height: 29px;
            margin-left: auto;
            margin-right: auto; 
            cursor: pointer;
        }
    }
}
/*Explain section*/
.explain_section{
    background: #223047;
    font-family: Dosis;
   .explain_section_text{
        padding: 150px 0;
        font-size: 18px;
        color: #00fff0;
        line-height: 29px;
        text-align: center;
        p{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
   } 
}
/*Store link*/
.store_link{
    margin-bottom: 30px;
    padding: 150px 0;
    background: #f5f6fa;
    position: relative;
    .store_link_phones{
        img{
            float: right;
        }
    }
    .store_link_text{
        h3{
            font-size: 40px;
            line-height: 50px;
            color: #223047;
        }
        p{
            font-size: 17px;
            font-family: Dosis;
            line-height: 29px;
            color: #97a4be;
            padding-bottom: 50px;
        }
        ul{
            list-style-type: none;
            display: flex;
            padding: 0;
            li{
                margin-right: 20px;
                cursor: pointer;

            }
        }
    }
    .store_link_download{
        position: relative;
        .store_link_download_Get{
            font-size: 17px;
            font-family: Dosis;
            color: #223047;
            position: absolute;
            top: 130px;
            left: 40%;
            padding: 10px 30px;
            background: #00fff0;
            text-align: center;
        }
    }

}
/*First footer*/
.first_footer{
    padding: 100px 0;
    h4{
        font-size: 17px;
        font-family: Myriad Pro;
        line-height: 50px;
        color: #223047;

    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            font-size: 14px;
            line-height: 29px;
            font-family: Dosis;
            color: #97a4be;
        }
    }
    .first_footer_count{
        padding: 50px 0;
        text-align: center;
        h3{
            font-size: 30px;
            line-height: 50px;
            color: #223047;
            font-family: Dosis;
        }
        p{
            font-size: 17px;
            font-family: Dosis;
            line-height: 29px;
            padding-bottom: 30px;
        }
        input{
            height: 50px;
        }
        .button_count{
            width: 500px;
            background: #f5f6fa;
        }
        .button_button{
            padding: 10px 20px;
            background: #00fff0;
            font-family: Myriad Pro;
            font-size: 17px;

        }


    }

}
/*Last footer*/
.last_footer{
    background: #223047;
    .col-md-4{
        p{
            font-size: 17px;
            color: #00fff0;
            line-height: 50px;
        }
    }
    .col-md-8{
        ul{
            list-style-type: none;
            display: flex;
            float: right;
            li{
                padding-left: 30px;
                i{
                    font-size: 17px;
                    line-height: 50px;
                    color: #ffffff;
                }
            }
        }
    }
}
