@media only screen and (max-width: 991.99px) {
  .header_resp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_resp .header_resp_div {
    margin-right: 30%;
  }
  .first_section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first_section .row .first_sec_rep_div {
    width: 50%;
  }
  .first_section .row .frs_sec_phone {
    right: unset;
    top: -126px;
    left: 79px;
  }
  .thrice_section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .thrice_section .row .thr_sec_head {
    font-size: 12px;
  }
  .thrice_section .row .thr_sec_pharagraph {
    display: none;
  }
  .four_section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .four_section .row .full_side {
    padding: 4%;
    height: 350px;
  }
  .four_section .row .empty_side {
    height: 350px;
  }
  .four_section .row .col-md-6 {
    width: 50%;
  }
  .four_section .row .col-md-6 h3 {
    font-size: 20px;
  }
  .four_section .row .col-md-6 p {
    font-size: 12px;
    line-height: 22px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .six_section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .six_section .row .six_section_pharagraph {
    text-align: left;
    padding: 20px 0 0 20px;
  }
  .six_section .row .six_section_img {
    padding: 50px 0 0 0;
  }
  .six_section .row .six_section_img img {
    width: 390px;
  }
  .seven_section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .seven_section .row .seven_section_img img {
    float: unset;
  }
  .seven_section .row .col-md-6 {
    width: 50%;
  }
  .seven_section .row .col-md-6 p {
    display: none;
  }
  .eight_section {
    display: none;
  }
  .first_footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first_footer .row .col-md-2 {
    margin-right: 3%;
  }
  .first_footer .first_footer_count {
    width: 100%;
  }
  .first_footer .first_footer_count .button_count {
    widows: 60%;
  }
  .first_footer .first_footer_count .button_button {
    width: 25%;
    font-size: 12px;
  }
  .last_footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .last_footer .row .col-md-8 {
    float: right;
  }
}

@media only screen and (max-width: 767.99px) {
  body {
    overflow-x: hidden;
  }
  .header_resp .header_resp_div {
    margin-right: 0%;
  }
  .first_section .row .col-md-3 {
    display: none;
  }
  .first_section .row .first_sec_rep_div {
    width: unset;
  }
  .thrice_section .container_fluid {
    padding-right: unset;
    padding-left: unset;
    margin-right: unset;
    margin-left: unset;
  }
  .thrice_section .row .col-md-3 img {
    width: 50px;
  }
  .thrice_section .row .column_3 {
    margin-right: unset;
    width: 25%;
  }
  .thrice_section .row .column_4 {
    margin-right: unset;
    width: 25%;
  }
  .six_section .six_section_img {
    display: none;
  }
  .six_section .six_section_pharagraph div {
    float: left;
  }
  .seven_section {
    display: none;
  }
  .store_link .store_link_phones {
    display: none;
  }
  .store_link .store_link_download .store_link_download_Get {
    left: 30%;
  }
  .first_footer .row .col-md-2 {
    margin-right: unset;
  }
  .first_footer .first_footer_count .button_count {
    width: 60%;
    background: #f5f6fa;
  }
  .last_footer .row .col-md-4 p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 575.99px) {
  header .header_resp {
    font-size: 10px;
  }
  .thrice_section {
    display: none;
  }
  .four_section .row .empty_side {
    display: none;
  }
  .four_section .row .full_side {
    width: unset;
  }
  .four_section .row .full_side h3 {
    padding-bottom: unset;
  }
  .first_footer .row .col-md-2 {
    width: 20%;
  }
  .last_footer .row .col-md-4 {
    padding-right: 0;
    padding-left: 0;
  }
  .last_footer .row .col-md-4 p {
    font-size: 8px;
  }
  .player_section .player_section_pharagraph p {
    width: 90%;
  }
  .explain_section .explain_section_text p {
    width: 90%;
  }
}
/*# sourceMappingURL=responsive.css.map */